# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# standalone project repositories (root directory only)
/projects/

# git clones of the published project repos, created by scripts/publish_repos.sh
/.publish-stage/
/repos/
